
#intro{
    height:calc(100vh - 4rem);
    width:200vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;   
}
.bg{
    position: absolute;
    padding-top:10rem ;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover; 
    height: 115vh;
    padding-right: 5rem;
}
.introcontent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 1.75rem;
    font-weight: 80;
}
.introname{
    color: yellow;
}
.intropara{
    font-size: medium;
    font-weight: 80;
    letter-spacing: 1px;
}
.btnimg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 2rem;
}
@media screen and (max-width:820px){
    #intro{
        margin-left:3rem ;
    }
    .bg{
        margin-right: -130vw;  
        padding-right: 1vw;  
        height: 100vh;
    }
    .introcontent{
        font-size: 7vw;
        padding-left: -4rem;
    }
    .hello{
        font-size: 4.5vw;
    }
}
@media screen and (min-width: 825px) and (max-width: 1400px) {
    #intro{
        margin-left:3rem ;
    }
    
    .bg{
        margin-right: -40vw;  
        padding-right: 1vw;  
        height: 100vh;
        right: 30vw;
    }
    .introcontent{
        font-size: 7vw;
        padding-left: -4rem;
    }
    .hello{
        font-size: 4.5vw;
    }
}

@media screen and (max-width:360px){
    .bg{
        right: -10rem;
    }
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
}

